.profile__name {
  font-weight: 500;
  font-size: 42px;
  line-height: 1.33;
  overflow: hidden;
  word-wrap: break-word;
  text-overflow: ellipsis;
  white-space: nowrap;
  position: relative;
  
  margin: 0;
  
  grid-area: name;
}

@media screen and (max-width: 767px) {
  .profile__name {
    font-size: 27px;
    line-height: 33px;
  }
}