.popup__save-button {
  width: 358px;
  background-color: #000;
  border-radius: 2px;
  color: #fff;
  font-size: 18px;
  line-height: 22px;
  font-weight: 400;
  padding: 14px 82px;
  border: none;
  transition: all .1s linear;
  margin-top: 18px;
}

.popup__save-button:hover {
  opacity: .8;
  cursor: pointer;
}

@media screen and (max-width: 767px) {
  .popup__save-button {
    width: 100%;
    line-height: 17px;
    font-size: 14px;
  }
}