.profile__info {
  display: flex;
  flex-wrap: wrap;
  max-width: calc((100vw - 320px) / (1280 - 320) * (480 - 285) + 285px);
}

@media screen and (max-width: 767px) {
  .profile__info {
    grid-template-columns: 1fr 18px;
    column-gap: 10px;
    row-gap: 14px;
  }
}
@media screen and (max-width: 641px) {
  .profile__info {
justify-content: space-around;
}
}