.profile__job {
  width: 80%;
  margin: 0;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  font-size: calc((100vw - 320px) / (1280 - 320) * (18 - 14) + 14px);
  font-weight: 400;
  line-height: calc((100vw - 320px) / (1280 - 320) * (22 - 17) + 20px);
}

@media screen and (max-width: 1023px) {
  .profile__job {
    text-align: center;
  }
}

@media screen and (max-width: 767px) {
  .profile__job {
    font-size: 14px;
    line-height: 17px;
  }
}