.elements__picture {
  width: 282px;
  height: 282px;
  align-self: flex-start;
  z-index: 1;
  margin: 0;
  padding: 0;
  transition: all .2s linear;
}

.elements__picture:hover {
  cursor: pointer;
  opacity: .6;
  transform: scale(1.05);
}